@media screen and (max-width:576px) {
    body,
    html {
        overflow-x: hidden;
        max-width: 100vw;
    }
    .nav__button{
        font-size: 14px;
    }
    #hero{
        background: url(../assets/hero-bg-responsive.png)  no-repeat center / cover;
    }
    .hero__img__container{
        height: 200px;
        width: 200px;
    }
    .hero__ing_2{
        height: 80px;
        width: auto;
    }
    .hero__img__overlay{
        top: 20px;
        right: -25px;
    }
    .host__content {
        text-align: center;
    }
    .host__social__midea {
        justify-content: center;
    }
    footer{
        background: url(../assets/footer-bg-responsive.jpg)  no-repeat center / cover;
        
    }
      .footer__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}